.sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.site {
    width: 250px;
    margin-bottom: 15px;
}

.site a {
    display: flex;
    height: 75px;
    padding: 15px;
    color: #333;
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
}

.site a span {
    color: #999;
}

.site-placeholder {
    width: 250px;
    height: 0;
}

.site img {
    width: 20%;
}

.url-info {
    padding-left: 10px;
    width: 80%;
}

.url-info strong {
    line-height: 23px;
}

.main>div {
    background: rgba(0, 0, 0, .2);
    color: #FFF;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.main .title {
    position: relative;
}

.main .title a {
    color: #FFF;
    position: absolute;
    right: 0;
    top: 0;
}

.blog a,
.exp a {
    color: #FFF;
}

.detail {
    margin: 0 30px 30px;
    border-bottom: 1px dashed;
}

.detail:last-child {
    border-bottom: none;
}